# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# IDE
.vscode
.idea
*.iml

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
